<nav id="navbar">
    <div class="logo">
        <a href="#">FrancisK</a>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">My Work</a>
        </li>
        <li>
            <a href="#">Get in Touch</a>
        </li>
        <li>
            <a href="#">About Me</a>
        </li>
        <li>
            <a href="#">My CV</a>
        </li>
        <li id="mob-social">            
            <a href="#">GH</a>
            <a href="#">LI</a>
        </li>
    </ul>
    <ul class="nav-links" id="desk-social">
        <li>
            <a href="#">GH</a>
        </li>
        <li>
            <a href="#">LI</a>
        </li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>