<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Francis Kershaw - {{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <!-- Navbar -->
    <header>
        {% include "includes/nav.html" %}
    </header>

    <!-- Main page content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        {% include "includes/footer.html" %}
    </footer>
    <!-- JS -->
    <script src="/js/script.js"></script>
</body>
</html>