{% extends 'base.html' %}

{% set title = 'Edit Project' %}

{% block content %}

  <form action="/projects/{{project._id}}" method="POST">
    <p>{{project._id}}</p>
      <input type="hidden" name="_method" value="PUT">
      <label for="projectName">Name</label>
      <input type="text" id="projectName" name="projectName" value="{{project.projectName}}">
      <label for="gitRepo">GitHub</label>
      <input type="text" id="gitRepo" name="gitRepo" value="{{project.gitRepo}}">
      <label for="liveSite">Live</label>
      <input type="text" id="liveSite" name="liveSite" value="{{project.liveSite}}">
      <button type="submit">Submit</button>
  </form>
  
{% endblock %}