*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.page-container {
  height: 100vh;

  .page-content {
    overflow-x: hidden;
    width: 100%;
    height: calc(100vh - $headerHeight);
    position: relative;
    top: $headerHeight;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; // firefox
    &::-webkit-scrollbar {
      // Chrome, safari, etc.
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - $headerHeight);
      scroll-snap-align: start;
    }
  }
}

.page {
  border: 1px solid $white;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;

  &__heading--container {
		display: flex;
    flex-direction: column;
		justify-content: center;
    padding-right: 2rem;

    @include respond(long-device) {
      height: 14%;
    }
    @include respond(tab-port) {
      align-items: center;
    }
  }

  &__heading {
    @include respond(long-device) {
      font-size: 3rem;
    }
    @include respond(tab-port) {
      font-size: 4rem;
      margin-right: 0;
    }
    @include respond(tab-land) {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
    @include respond(md-desk) {
      margin-top: 5rem;
    }
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1.5rem;
    margin-right: auto;
    text-shadow: 1px 1px #393939;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--bottomBorder {
      margin-top: 5px;
      transition: .2s;
      width: 75%;
      border: 1.5px solid $white;
      border-radius: 1px;
    }
  }
}
