.center-text {
	text-align: center !important;
}

.mb-small {
	margin-bottom: $smallSpacing !important;
}

.mb-medium {
	margin-bottom: $mediumSpacing !important;
}

.mb-large {
	margin-bottom: $largeSpacing !important;
}

.mt-small {
	margin-top: $smallSpacing !important;
}

.mt-medium {
	margin-top: $mediumSpacing !important;
}

.mt-large {
	margin-top: $largeSpacing !important;
}


