@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;   
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: lightgray;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 0 10px;
}

nav a {
    text-decoration: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 1px;
    margin: 5px;
    border-radius: 5px;
    background: black;
    transition: 0.3s;
}

#mob-social {
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav ul {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: lightgrey;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        transform: translateX(100%);
        transition: .5s;
    }

    nav ul li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    #mob-social {
        display: block;
    }

    #desk-social {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    nav ul {
        width: 100%;
    }
}


/* Animations */

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-8px, 0px); 
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-8px, 0px);
}
