.projects {
  position: relative;
  background-image: linear-gradient(
      to right top,
      rgba($primaryColor, 0.9),
      rgba($darkColor, 0.9)
    ),
    url('https://res.cloudinary.com/dqdjr1d4f/image/upload/v1654422694/Portfolio/mmt9f98vx0fll3h8wsrl.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
