@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__heading {
		@include trainingwheels;
		
    padding-left: 3rem;
    padding-right: 3rem;

    h1 {
      font-size: 4rem;
    }
  }

	&__cta {
		@include trainingwheels;
		width: 100%;
		text-align: center;	
	}
}
