.hero {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: linear-gradient(
      to right bottom,
      rgba($darkColor, 0.9),
      rgba($primaryColor, 0.9)
    ),
    url('../../assets/hero-image.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $white;

  &__heading {
    // @include trainingwheels;
    @include respond(tab-port) {
      margin-left: 4.5rem;
      margin-right: 4.5rem;
    }
    padding-left: 3rem;
    padding-right: 3rem;

    h1 {
      @include respond(tab-port) {
        font-size: 5rem;
      }
      font-size: 4rem;
    }
    h3 {
      @include respond(tab-port) {
        font-size: 2.75rem;
      }
      font-size: 2.25rem;
    }
  }

  &__cta {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.topSpanContainer,
.bottomSpanContainer {
  width: 100%;
  display: flex;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  aside {
    @include respond(tab-port) {
      font-size: 3rem;
    }
    font-size: 2rem;
    margin-left: 2rem;
  }
}

.topSpanContainer {
  flex-direction: column;
  padding-bottom: 0.5rem;
  justify-content: flex-start;
}

.bottomSpanContainer {
  @include respond(tab-port) {
    padding-right: 7rem;
  }
  justify-content: flex-end;
  padding-right: 3rem;
}

.widthLine {
  transition: 2s;
  border-bottom: 1px solid $white;
  width: 0%;
}

.heightLine {
  @include respond(tab-port) {
    right: 4.5rem;
  }
  transition: 2s;
  border: 1px solid $white;
  position: absolute;
  height: 0%;
  top: 0;
  right: 1.2rem;
}

.appear-first {
  opacity: 0;
	animation-name: appear;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.appear-second {
  opacity: 0;
	animation-name: appear;
	animation-duration: 2s;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}

.appear-third {
  opacity: 0;
	animation-name: appear;
	animation-duration: 2s;
	animation-delay: 6.5s;
	animation-fill-mode: forwards;
}

.ityped-cursor {
  opacity: 1;
  -webkit-animation: blink 0.5s infinite;
  -moz-animation: blink 0.5s infinite;
  animation: blink 0.5s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}

@keyframes appear {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
