.hero {
  @include trainingwheels;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
	justify-content: space-evenly;

  &__heading {
    @include trainingwheels;
    padding-left: 3rem;
    padding-right: 3rem;

    h1 {
      font-size: 4rem;
    }
		p {
			font-size: 2rem;
		}
  }

	&__cta {
    @include trainingwheels;
		height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
	}
}
