
// Visual aid to see what block level elements are doing with space
@mixin trainingwheels {
	border: 1px solid black;
	background: rgba(grey, .2);
}

@mixin flexCenterCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

// MEDIA QUERY MANAGER
/*
0 - 600px:			Phone [Normal styles]
600-900px:			Tablet portrait
900--1200px:		Tablet landscape
1200-1800px:		Laptops/Larger screens
1800px + :			XL screen sizes

$breakpoint argument choices:
- tab-port
- tab-land
- md-desk
- big-desktop

1em = 16px
*/
@mixin respond($breakpoint) {
	@if $breakpoint == tab-port {
		@media only screen and (min-width: 48em) { @content };		// minWidth 768px
	}
	@if $breakpoint == tab-land {
		@media only screen and (min-width: 56.25em) { @content };			// minWidth 900px
	}
	@if $breakpoint == md-desk {
		@media only screen and (max-width: 112.5em) { @content };			// maxWidth 1800px
	}
	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 112.5em) { @content };			// minWidth 1800px
	}

	// Special cases
	@if $breakpoint == tab-special {
		@media only screen and (min-width: 48em) and (max-width: 56.25em ) and (max-height: 54.5em) { @content }; // minWidth 768px / maxWidth 900px / maxHeight 872px
	}

	@if $breakpoint == laptop {
		@media only screen and (minwidth: 56.25em) and (max-height: 50em) { @content }; // minWidth 900px / maxHeight 800px
	}
}