@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$MainFont: 'Lato', sans-serif; 

// Colors
$dark: rgb(29,29,29);
$light: #fff;
$primary: rgb(162, 162, 246);
$bg: rgb(244,244,255);

// Spacing
$spacing-md: 1.6rem;
$spacing-lg: 3.2rem;

// border-radius
$borderRadius: 1.2rem;

// header height
$headerHeight: 10rem;