@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

// Default fonts
$MainFont: 'Lato', sans-serif;
$default-font-size: 1.6rem;

// Colors
$primaryColor: #567BB3;
$secondaryColor: #DBE9EE;

$darkColor: #15023a;
$lightColor: #F6F1F1;

$white: #fff;

// borders
$borderRadius: 1.2rem;
$buttonBorder: 1px;

// header height
$headerHeight: 7rem;

// Spacing
$smallSpacing: 1.5rem;
$mediumSpacing: 4rem;
$largeSpacing: 8rem;
$hugeSpacing: 10rem;
