@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Default fonts
$MainFont: 'Lato', sans-serif;
$default-font-size: 1.6rem;

// Colors
$primaryColor: #15023a;

$colorWhite: #f9f8f0;

// border-radius
$borderRadius: 1.2rem;

// header height
$headerHeight: 7rem;
