.header {
  width: 100%;
  height: $headerHeight;
  background-color: $lightColor;
  color: $darkColor;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all 1s ease;
  display: flex;

  &__wrapper {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 1.8rem;
        font-weight: 700;
        text-decoration: none;
        color: $darkColor;
        margin-right: 3.5rem;
        transition: all 1s ease;
      }

      .iconContainer {
        display: flex;
        align-items: center;

        .socialIcon {
          color: $darkColor;
          font-size: calc($default-font-size * 1.5);
          margin-right: 2rem;
          transition: .2s;

          &:hover {
            transform:scale(1.1);
          }
        }
      }
    }

    &--right {
      .hamburger {
        width: 3.2rem;
        height: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color: $darkColor;
          transform-origin: left;
          transition: all 1s ease;
        }
      }
    }

    // Larger screen size navlinks
    ul {
      list-style: none;
      li {
        display: inline;
        margin-right: 3rem;
        font-weight: 600;
        
        a {
          text-decoration: none;
          color: $darkColor;
        }
      }
    }
  }

  &--active {
    background-color: $darkColor;
    color: $lightColor;
    .logo {
      color: $lightColor;
    }
    .hamburger {
      span {
        &:first-child {
          background: $lightColor;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background: $lightColor;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
