.btn {
	font-size: 2.5rem;
	letter-spacing: .15rem;
	margin: .5rem;
	padding: 1.5rem;
	text-decoration: none;
	border-radius: $borderRadius;
	transition: all .3s ease, border 1ms;
  overflow: hidden;
  z-index: 1;
	position: relative;
	display: inline-block;
	text-transform: uppercase;

	&:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all .3s;
    z-index: -1;
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }

	&--small {
		font-size: 1.5rem;
		padding: 1.5rem;
	}

	&--md {
		font-size: 2rem;
		padding: 2rem;
	}

	&--primary {
		color: $lightColor;
		border: $buttonBorder solid $lightColor;
		&:after {
			background-color: $darkColor;
		}
		&:before {
			background-color: $lightColor;
		}
		&:hover {
			color: $darkColor;
			border: $buttonBorder solid $darkColor;
		}
	}

	&--secondary {
		color: $darkColor;
		border: $buttonBorder solid $darkColor;
		&:after {
			background-color: $lightColor;
		}
		&:before {
			background-color: $darkColor;
		}
		&:hover {
			color: $lightColor;
			border: $buttonBorder solid $lightColor;
		}
	}

	&--link {
		padding: 1rem;
		font-size: 1.5rem;
	}

	&__icon {
		font-size: 2rem;
		margin-right: 5px;
	}
}