.btn {
	font-size: 2.5rem;
	margin: .5rem;
	padding: 2.5rem;
	text-decoration: none;
	color: $primaryColor;
	border: 1px solid $primaryColor;
	border-radius: $borderRadius;

	&--small {
		font-size: 1.5rem;
		padding: 1.5rem;
	}

	&--md {
		font-size: 2rem;
		padding: 2rem;
	}

	&--primary {
		background: $primaryColor;
		color: $colorWhite;
	}
}